/* =========================================================
   TOP NAVBAR
========================================================= */
.top-nav {
    width: 100%;
    background: #fff;
    padding: 12px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 200px;
}

.logo img {
    width: 100px;
    height: 50px;
    gap: 100px;
}

/* =========================================================
   SEARCH BOX
========================================================= */
.search-box {
    width: 620px;
    display: flex;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #c8d7f7;
    border-radius: 6px 0 0 6px;
    border-right: none;
}

.search-box select {
    padding: 10px;
    border: 1px solid #c8d7f7;
    border-right: none;
}

.search-box button {
    padding: 10px 18px;
    background: #2c82ff;
    border: none;
    color: #fff;
    border-radius: 0 6px 6px 0;
    font-size: 14px;
    cursor: pointer;
}

/* =========================================================
   RIGHT NAV ICONS
========================================================= */
.nav-right {
    display: flex;
    gap: 28px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #555;
}

.nav-item i {
    font-size: 22px;
    margin-bottom: 2px;
}


/* =========================================================
   SECOND ROW NAV
========================================================= */
.bottom-nav {
    width: 100%;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 22px;
}

.left-nav i {
    font-size: 20px;
    color: #333;
}

.left-nav a {
    cursor: pointer;
    color: #333;
}

.help {
    display: flex;
    align-items: center;
    gap: 4px;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.right-nav .flag {
    width: 22px;
    border-radius: 2px;
}
