
/* =========================================================
   RECOMMENDED PRODUCTS
========================================================= */

.recommended {
  width: 90%;
  max-width: 1450px;
  margin: 40px auto;
}

.recommended h2 {
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.info {
  padding: 18px;
}

.price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.title {
  font-size: 14px;
  color: #444;
  line-height: 1.4;
}
