
/* =========================================================
   EXTRA SERVICES
========================================================= */

.extra-services {
  width: 90%;
  max-width: 1450px;
  margin: 30px auto;
}

.extra-services h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.service-card {
  border-radius: 12px;
  overflow: hidden;
  background: white;
  border: 1px solid #e7e7e7;
  position: relative;
  cursor: pointer;
}

.service-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.service-info {
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.service-icon {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background: #dff9f4;
  padding: 12px;
  border-radius: 50%;
}

.service-icon img {
  width: 20px;
}
