<!-- footer -->
 <!-- FOOTER START -->
<footer class="footer">

    <div class="footer-top">

        <!-- BRAND + DESCRIPTION -->
        <div class="footer-brand">
            <div class="brand-logo">
                <img src="../image/logo.png" alt="brand">
                
            </div>

            <p class="brand-text">
                Best information about the company gies here but <br>
                now lorem ipsum is
            </p>

            <div class="social-icons">
                <span><img src="img/fb.png"></span>
                <span><img src="img/twitter.png"></span>
                <span><img src="img/linkedin.png"></span>
                <span><img src="img/instagram.png"></span>
                <span><img src="img/youtube.png"></span>
            </div>
        </div>

        <!-- LINKS COLUMN 1 -->
        <div class="footer-col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Find store</a>
            <a href="#">Categories</a>
            <a href="#">Blogs</a>
        </div>

        <!-- LINKS COLUMN 2 -->
        <div class="footer-col">
            <h4>Partnership</h4>
            <a href="#">About Us</a>
            <a href="#">Find store</a>
            <a href="#">Categories</a>
            <a href="#">Blogs</a>
        </div>

        <!-- LINKS COLUMN 3 -->
        <div class="footer-col">
            <h4>Information</h4>
            <a href="#">Help Center</a>
            <a href="#">Money Refund</a>
            <a href="#">Shipping</a>
            <a href="#">Contact us</a>
        </div>

        <!-- LINKS COLUMN 4 -->
        <div class="footer-col">
            <h4>For users</h4>
            <a href="#">Login</a>
            <a href="#">Register</a>
            <a href="#">Settings</a>
            <a href="#">My Orders</a>
        </div>

        <!-- APP DOWNLOAD -->
        <div class="footer-app">
            <h4>Get app</h4>
            <img src="../flag/astila.jpg" class="app-btn">
            <img src="../flag/Arabic Emirates.jpg" class="app-btn">
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2023 Ecommerce.</p>

        <div class="footer-lang">
            <img src="../flag/untiedstated.jpg" class="flag">
            <span>English</span>
            <img src="img/down-arrow.png" class="arrow">
        </div>
    </div>

</footer>
<!-- FOOTER END -->