<!-- ======= TOP NAVBAR ======= -->
<header class="top-nav">
    <div class="nav-left">
        <div class="logo">
            <img src="image/logo.png" alt="Brand Logo">
            <!-- <span>Brand</span> -->
        </div>

        <div class="search-box">
            <input type="text" placeholder="Search">
            <select>
                <option>All category</option>
            </select>
            <button>Search</button>
        </div>
    </div>

    <div class="nav-right">
        <div class="nav-item">
            <i class="ri-user-line"></i>
            Profile
        </div>
        <div class="nav-item">
            <i class="ri-chat-3-line"></i>
            Message
        </div>
        <div class="nav-item">
            <i class="ri-heart-line"></i>
            Orders
        </div>
        <div class="nav-item">
            <i class="ri-shopping-cart-line"></i>
            <a href="Cart/mycart.html">My cart</a>
        </div>
    </div>
</header>