<!-- ======= SECOND ROW NAV ======= -->
<nav class="bottom-nav">
    <div class="left-nav">
        <i class="ri-menu-line"></i>
        <span>All category</span>
        <a>Hot offers</a>
        <a>Gift boxes</a>
        <a>Projects</a>
        <a href="Ecommerce-list/list-view.html">Menu item</a>
        <a class="help">Help <i class="ri-arrow-down-s-line"></i></a>
    </div>

    <div class="right-nav">
        <span class="lang">English, USD <i class="ri-arrow-down-s-line"></i></span>
        <span class="ship">Ship to</span>
        <img src="https://flagcdn.com/w20/de.png" class="flag">
    </div>
</nav>