 
<!-- NEWSLETTER SECTION -->
<section class="newsletter">
    <h2>Subscribe on our newsletter</h2>
    <p class="newsletter-subtext">
        Get daily news on upcoming offers from many suppliers all over the world
    </p>

    <div class="newsletter-form">
        <div class="input-box">
            <i class="ri-mail-line" aria-hidden="true"></i>
            <input type="email" placeholder="    Share Your Feedback " aria-label="Email address">
        </div>
        <button>Subscribe</button>
    </div>
</section>