<section class="request-wrapper">

    <div class="left-content">
        <h1>An easy way to send<br>requests to all suppliers</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do<br>
            eiusmod tempor incididunt.
        </p>
    </div>

    <div class="quote-box">
        <h2>Send quote to suppliers</h2>

        <form>
            <input type="text" class="input" placeholder="What item you need?">

            <textarea class="textarea" placeholder="Type more details"></textarea>

            <div class="form-row">
                <input type="number" class="input small" placeholder="Quantity">
                
                <select class="input small">
                    <option>Pcs</option>
                    <option>Kg</option>
                    <option>Box</option>
                </select>
            </div>

            <button class="btn">Send inquiry</button>
        </form>

    </div>

</section>