
<!-- EXTRA SERVICES SECTION -->
<section class="extra-services">
    <h2>Our extra services</h2>

    <div class="service-grid">

        <div class="service-card">
            <img src="../image/b1.png" alt="">
            <div class="service-info">
                <p>Source from<br>Industry Hubs</p>
                <span class="service-icon"><img src="../image/b1.png"></span>
            </div>
        </div>

        <div class="service-card">
            <img src="../image/b2.png" alt="">
            <div class="service-info">
                <p>Customize Your<br>Products</p>
                <span class="service-icon"><img src="../image/b2.png"></span>
            </div>
        </div>

        <div class="service-card">
            <img src="../image/b3.png" alt="">
            <div class="service-info">
                <p>Fast, reliable shipping<br>by ocean or air</p>
                <span class="service-icon"><img src="../image/b3.png"></span>
            </div>
        </div>

        <div class="service-card">
            <img src="../image/p1.png" alt="">
            <div class="service-info">
                <p>Product monitoring<br>and inspection</p>
                <span class="service-icon"><img src="../image/p1.png"></span>
            </div>
        </div>

    </div>
</section>