<!-- SUPPLIERS BY REGION SECTION -->
<section class="suppliers-region">
    <h2>Suppliers by region</h2>

    <div class="region-grid">

        <div class="region-item">
            <img src="../flag/Arabic Emirates.jpg">
            <div>
                <p class="region-title">Arabic Emirates</p>
                <p class="region-link">shopname.ae</p>
            </div>
        </div>

        <div class="region-item">
            <img src="../flag/astila.jpg">
            <div>
                <p class="region-title">Australia</p>
                <p class="region-link">shopname.au</p>
            </div>
        </div>

        <div class="region-item">
            <img src="../flag/untiedstated.jpg">
            <div>
                <p class="region-title">United States</p>
                <p class="region-link">shopname.ae</p>
            </div>
        </div>

        <div class="region-item">
            <img src="../flag/russia.jpg">
            <div>
                <p class="region-title">Russia</p>
                <p class="region-link">shopname.ru</p>
            </div>
        </div>

        <div class="region-item">
            <img src="../flag/itley.jpg">
            <div>
                <p class="region-title">Italy</p>
                <p class="region-link">shopname.it</p>
            </div>
        </div>

        <div class="region-item">
            <img src="../flag/demark.jpg">
            <div>
                <p class="region-title">Denmark</p>
                <p class="region-link">denmark.com.dk</p>
            </div>
        </div>

        <div class="region-item">
            <img src="../flag/France.jpg">
            <div>
                <p class="region-title">France</p>
                <p class="region-link">shopname.com.fr</p>
            </div>
        </div>

        <div class="region-item">
            <img src="../flag/china.jpg">
            <div>
                <p class="region-title">China</p>
                <p class="region-link">shopname.ae</p>
            </div>
        </div>

        <div class="region-item">
            <img src="../flag/great britsh.jpg">
            <div>
                <p class="region-title">Great Britain</p>
                <p class="region-link">shopname.co.uk</p>
            </div>
        </div>

    </div>
</section>
<!-- END OF SUPPLIERS BY REGION SECTION -->